.sidebar {
  background: var(--eerie-black-2);
  border: 1px solid var(--jet);
  border-radius: 20px;
  padding: 15px;
  box-shadow: var(--shadow-1);
  z-index: 1;
  margin-bottom: 15px;
}

/* Sidebar info more section */
.sidebarInfoMore {
  display: none;
}

.sidebarInfo {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.name {
  color: var(--white-2);
  font-size: var(--fs-3);
  font-weight: var(--fw-600);
  letter-spacing: -0.25px;
  margin-bottom: 10px;
  background: linear-gradient(180deg, #fff, #adadad);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.name::selection {
  -webkit-text-fill-color: var(--smoky-black);
  color: var(--smoky-black);
  background: var(--orange-yellow-crayola);
}

.title {
  color: var(--white-1);
  background: var(--onyx);
  font-size: var(--fs-8);
  font-weight: var(--fw-300);
  width: max-content;
  padding: 3px 12px;
  border-radius: 8px;
}

.avatarBox {
  background: var(--bg-gradient-onyx);
  border-radius: 20px;
}

.avatarBox img {
  width: 80px;
  height: 80px;
}

.contactInfoContainer {
  max-width: calc(100% - 46px);
  width: calc(100% - 46px);
}

.contactsList {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}



.separator {
  width: 100%;
  height: 1px;
  background: var(--jet);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Contact List Styles */
.contactItem {
  min-width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.contactInfoContainer {
  max-width: calc(100% - 46px);
  width: calc(100% - 46px);
}

.contactTitle {
  color: var(--light-gray-70);
  text-transform: uppercase;
  margin-bottom: 4px;
  font-size: 12px;
}

.contactContent {
  display: block;
  color: var(--white-2);
  font-size: 14px;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.contactContentLink {
  display: block;
  color: var(--white-2);
  font-size: 14px;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: color var(--transition-1);
}

.contactContentLink:hover {
  color: var(--orange-yellow-crayola);
}

@media (max-width: 249px) {
  .avatarBox img {
    width: 80px;
    height: 80px;
  }
}

@media (min-width: 250px) and (max-width: 374px) {
  .avatarBox img {
    width: 80px;
    height: 80px;
  }
}

@media (min-width: 375px) {
  .avatarBox {
    border-radius: 30px;
  }

  .avatarBox img {
    width: 80px;
    height: 80px;
  }
}

@media (min-width: 580px) {
  .sidebarInfo {
    gap: 25px;
  }

  .name {
    margin-bottom: 15px;
  }

  .title {
    padding: 5px 18px;
  }

  .avatarBox {
    border-radius: 30px;
  }

  .avatarBox img {
    width: 120px;
    height: 120px;
  }

  .contactInfoContainer {
    max-width: calc(100% - 64px);
    width: calc(100% - 64px);
  }

  .contactsList {
    gap: 20px;
  }

  .separator {
    margin: 32px 0;
  }

  .sidebar {
    width: 520px;
    margin-inline: auto;
    padding: 30px;
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) {
  .contactsList {
    grid-template-columns: 1fr 1fr;
    gap: 30px 15px;
  }

  .sidebar {
    width: 700px;
  }
}

@media (min-width: 1024px) {
  .sidebar {
    width: 950px;
    box-shadow: var(--shadow-5);
  }
}

.mobileFooterWrapper {
  margin: 15px 12px;
  min-width: 259px;
  margin-bottom: 4rem;
}

.mobileFooterArticle {
  background: var(--eerie-black-2);
  border: 1px solid var(--jet);
  border-radius: 20px;
  padding: 15px;
  box-shadow: var(--shadow-1);
  z-index: 1;
  display: block;
  animation: fade 0.5s ease backwards;
}

@media (min-width: 1250px) {
  .mobileFooterWrapper {
    display: none;
  }

  .sidebarInfo {
    flex-direction: column;
  }

  .name {
    white-space: nowrap;
    text-align: center;
  }

  .title {
    margin: auto;
  }

  .avatarBox img {
    width: 150px;
    height: 150px;
  }

  .contactsList {
    grid-template-columns: 1fr;
  }

  .separator:last-of-type {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .sidebar {
    width: auto;
    position: sticky;
    top: 60px;
    max-height: max-content;
    height: 100%;
    margin-bottom: 0;
    padding-top: 60px;
    z-index: 1;
  }

  .sidebarInfoMore {
    display: block;
  }
}
